un-button {
  --button-padding: var(--space-3);
  -webkit-app-region: no-drag;
}

un-button[variant='compact'],
un-button[variant='compact-ghost'] {
  --button-padding: var(--space-1);
}

un-button button {
  color: var(--color-interaction-body);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  background: var(--color-interaction-bg);
  border: var(--color-border);
  border-radius: var(--rounded);
}

un-button[variant='ghost'] button,
un-button[variant='compact-ghost'] button {
  background: transparent;
}

un-button button:hover {
  background: var(--color-interaction-hover);
}

un-button[variant='ghost'] button:hover,
un-button[variant='compact-ghost'] button:hover {
  background: var(--color-interaction-bg);
}
