/* Resets */
.un-popover {
  margin: 0;
  inset: unset;
}

/* Modal-like presentation */
.un-popover {
  border: 1px solid var(--color-border-default);
  max-width: 320px;
  background: var(--color-bg-content);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow);
  padding: var(--space-6);
  margin: var(--space-6);
}

/* Positioning logic */
.un-popover:popover-open {
  position-try-fallbacks: flip-block, flip-inline;
  position-try: flip-block, flip-inline;
}
.un-popover[data-position='top'] {
  position-area: top;
}
.un-popover[data-position='right'] {
  position-area: right;
}
.un-popover[data-position='bottom'] {
  position-area: bottom;
}
.un-popover[data-position='left'] {
  position-area: left;
}
