interaction-history {
  width: 100%;
  flex-grow: 1;
  background: var(--color-neutral-50);
}

interaction-history .inner {
  height: 100%;
  width: 100%;
}

interaction-history .inner::part(slot) {
  gap: var(--space-8);
  padding: var(--space-8) 0;
}

interaction-history .interaction {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
}

/* Reversed, so first-child is the last child visually */
interaction-history .interaction:first-child {
  margin-bottom: 0;
}

interaction-history .interaction {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

interaction-history .interaction-input,
interaction-history .interaction-output {
  user-select: text;
}

interaction-history .interaction-input {
  padding: var(--space-2) var(--space-4);
  align-self: flex-start;
  border-radius: var(--rounded);
  border: 1px solid var(--color-border-muted);
  background: var(--color-neutral-100);
}

/* interaction-history .interaction-input {
  font-weight: 500;
  padding: var(--space-1) var(--space-4);
} */

interaction-history .interaction-output[data-type='text'] {
  padding: var(--space-4) var(--space-4);
  border-radius: var(--rounded);
  border: 1px solid var(--color-border-muted);
  background: var(--color-bg-content);
}

interaction-history .interaction-output[data-type='action'] {
  display: flex;
  align-items: center;
  padding: var(--space-2) var(--space-3);
  gap: var(--space-2);
}

interaction-history .interaction-output[data-type='action'] .resource-icon {
  width: 14px;
  height: 14px;
}

interaction-history .interaction-output[data-type='action'] .notification-text {
  color: var(--color-neutral-500);
  font-size: 13px;
}

interaction-history .thinking-letter {
  color: var(--color-neutral-500);
}

interaction-history .thinking-letter.active {
  color: var(--color-neutral-1000);
}
