/* interaction-history {
  overflow-y: scroll;
  width: 100%;
}

interaction-history .inner {
  padding: var(--space-5) 0 var(--space-8) 0;
  margin: 0 auto;
  flex-shrink: 0;
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

interaction-history .interaction {
  display: flex;
  flex-direction: column;
}

interaction-history .interaction-input,
interaction-history .interaction-output {
  user-select: text;
}

interaction-history .interaction-input {
  font-weight: 500;
  padding: var(--space-5) var(--space-2);
  border: none;
  align-self: flex-start;
}

interaction-history .interaction-output {
  padding: var(--space-6) var(--space-7);
  border-radius: var(--rounded);
  border: 1px solid var(--color-border);
  background: var(--color-bg-page);
} */

/******/

interaction-history {
  width: 100%;
  flex-grow: 1;
}

interaction-history .inner {
  height: 100%;
  width: 100%;
}

interaction-history .inner::part(slot) {
  gap: var(--space-6);
  padding: var(--space-6) 0;
}

interaction-history .interaction {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: var(--space-4);
  width: 580px;
}

/* Reversed, so first-child is the last child visually */
interaction-history .interaction:first-child {
  margin-bottom: 0;
}

interaction-history .interaction {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

interaction-history .interaction-input,
interaction-history .interaction-output {
  user-select: text;
}

interaction-history .interaction-input {
  font-weight: 500;
  padding: var(--space-1) var(--space-1);
  border: none;
  align-self: flex-start;
  border-radius: var(--rounded);
  /* border: 1px solid var(--color-border); */
  /* background: var(--color-neutral-15); */
}

interaction-history .interaction-output {
  padding: var(--space-5) var(--space-6);
  border-radius: var(--rounded);
  border: 1px solid var(--color-border-muted);
  background: var(--color-bg-content);
}

interaction-history .thinking-letter {
  color: var(--color-neutral-500);
}

interaction-history .thinking-letter.active {
  color: var(--color-neutral-1000);
}

/* interaction-history {
  overflow-y: scroll;
  width: 100%;
}

interaction-history .inner {
  padding: var(--space-5) 0 var(--space-8) 0;
  margin: 0 auto;
  flex-shrink: 0;
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  padding-bottom: 200px;
}

interaction-history .interaction {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  border-radius: var(--rounded);
  border: 1px solid var(--color-border);
  background: var(--color-neutral-15);
  padding: 4px;
}

interaction-history .interaction-input,
interaction-history .interaction-output {
  user-select: text;
}

interaction-history .interaction-input {
  font-weight: 500;
  padding: var(--space-3) var(--space-4);
  border: none;
  align-self: flex-start;
}

interaction-history .interaction-output {
  padding: var(--space-6) var(--space-7);
  border-radius: var(--rounded);
  border: 1px solid var(--color-border);
  background: var(--color-bg-page);
} */
