interaction-history {
  width: 100%;
  flex-grow: 1;
  background: var(--color-neutral-50);
}

interaction-history .inner {
  height: 100%;
  width: 100%;
}

interaction-history .inner::part(slot) {
  gap: var(--space-6);
  padding: var(--space-6) 0;
}

interaction-history .interaction {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: var(--space-4);
  width: 580px;
}

/* Reversed, so first-child is the last child visually */
interaction-history .interaction:first-child {
  margin-bottom: 0;
}

interaction-history .interaction {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

interaction-history .interaction-input,
interaction-history .interaction-output {
  user-select: text;
}

interaction-history .interaction-input {
  font-weight: 500;
  padding: var(--space-1) var(--space-1);
  border: none;
  align-self: flex-start;
  border-radius: var(--rounded);
  /* border: 1px solid var(--color-border); */
  /* background: var(--color-neutral-15); */
}

interaction-history .interaction-output[data-type='text'] {
  padding: var(--space-5) var(--space-6);
  border-radius: var(--rounded);
  border: 1px solid var(--color-border-muted);
  background: var(--color-bg-content);
}

interaction-history .interaction-output[data-type='action'] {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

interaction-history .interaction-output[data-type='action'] .resource-icon {
  width: 16px;
  height: 16px;
}

interaction-history .interaction-output[data-type='action'] .notification-text {
  font-size: var(--text-md);
}

interaction-history .thinking-letter {
  color: var(--color-neutral-500);
}

interaction-history .thinking-letter.active {
  color: var(--color-neutral-1000);
}
