workspace-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

workspace-view .workspace-content {
  flex-grow: 1;
  background: var(--color-page-alt);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.command-bar {
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4);
}

/* resource-bar,
.command-bar {
  background: var(--color-neutral-0);
} */
