workspace-view {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
}

workspace-view[active] {
  display: flex;
}

workspace-view .workspace-content {
  flex-grow: 1;
  background: #e9e9e9;
}

resource-bar,
command-bar {
  /* background: var(--color-neutral-0); */
  background: #f0f0f0;
}

resource-bar {
  border-top: 1px solid var(--color-border);
  height: 30px;
}

.command-bar {
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4);
}
