resource-bar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-3) var(--space-4);
  justify-content: space-between;
  background: var(--color-inset);
  border: 1px solid var(--color-border);
  border-radius: 12px;
}

ul.resources-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
}

resource-bar .add-applet-container {
  position: relative;
}

resource-bar .applet-item {
  display: flex;
  gap: 2px;
  align-items: center;
  flex-shrink: 0;
}

resource-bar .applet-icon {
  width: 13px;
}

resource-bar .applet-name {
  display: block;
  /* font-weight: 400; */
  font-size: 11.5px;
}

#resource-management-button {
  color: var(--color-input-placeholder);
}
