workbench-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 var(--space-3);
  display: flex;
  padding: var(--space-4) var(--space-4) 0 var(--space-4);
  overflow: visible;
}
