process-frame {
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded);
  overflow: hidden;
  flex-grow: 1;
}

process-frame .process-header {
  display: flex;
  gap: var(--space-4);
  padding: var(--space-2) var(--space-5);
  align-items: center;
  font-weight: 500;
  font-size: var(--text-sm);
  border-bottom: 1px solid var(--color-border);
  background: var(--color-neutral-100);
}

process-frame .process-header img {
  height: 16px;
}
