resource-bar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: 0 var(--space-5) var(--space-2) var(--space-5);
  padding-right: var(--space-3);
  justify-content: space-between;
}

ul.resources-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
}

resource-bar .add-applet-container {
  position: relative;
}

resource-bar .applet-item {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-shrink: 0;
}

resource-bar .applet-icon {
  width: 16px;
}

resource-bar .applet-name {
  display: block;
  font-weight: 500;
  font-size: 12px;
}
