home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: var(--space-4);
}

.recent-workspaces {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 470px;
  gap: var(--space-3);
}

.recent-workspaces li {
  background: var(--color-neutral-10);
  padding: var(--space-4);
}
