.modal-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
}

.modal-container {
  min-width: 320px;
  background: var(--color-bg-content);
  border-radius: var(--rounded);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.modal-header {
  border-bottom: 1px solid var(--color-border);
  padding: var(--space-4);
  font-weight: bold;
}

.modal-contents {
  padding: var(--space-4);
}
