.modal-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: var(--color-overlay);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
}

.modal-container {
  min-width: 320px;
  background: var(--color-bg-content);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow);
  max-width: 50%;
  max-height: 85%;
  border: 1px solid var(--color-border-muted);
  overflow: hidden;
  outline: none;
}

.modal-header {
  position: sticky;
  top: 0;
  padding: var(--space-3) var(--space-4) var(--space-1) var(--space-6);
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: var(--text-sm);
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
}

.modal-contents {
  padding: var(--space-6);
  overflow: hidden;
}

.modal-container[data-size='full'] {
  /* width: 85%; */
  /* height: 85%; */
  /* max-width: none; */
  /* max-height: none; */
}
