.top-bar {
  width: 100%;
  height: 35px;
  display: flex;
  border-bottom: 1px solid var(--color-border);
  flex-shrink: 0;
  -webkit-app-region: drag;
  background: var(--color-neutral-10);
  background: #f0f0f0;
  padding-left: 82px;
  overflow: hidden;
}

.top-bar::-webkit-scrollbar {
  display: none;
}

.blurred .top-bar {
  background: var(--color-page-alt);
}

.tab-list {
  flex-grow: 1;
  overflow: visible;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-shrink: 0;
  margin: 0;
  height: 100%;
}
