@import url(./reset.css);
@import url(./colors.css);
@import url(./animations.css);
/* @import url(./theme.css); */

/* TEXT */
:root {
  --font-sans: ui-sans-serif, system-ui, 'Roboto', sans-serif;
  --font-mono: 'iA Writer Mono', monospace;
  --text-base: 13px;
  --text-rounding: 1px;

  --text-sm: calc(var(--text-base) * 0.8, var(--text-rounding));
  --text-lg: calc(var(--text-base) * 1.3, var(--text-rounding));

  --outline: 1px solid var(--color-border);
}

/* SPACING */

:root {
  --spacing: 4px;
  --space-1: calc(var(--spacing) * 0.5);
  --space-2: calc(var(--spacing) * 1);
  --space-3: calc(var(--spacing) * 1.5);
  --space-4: calc(var(--spacing) * 2);
  --space-5: calc(var(--spacing) * 3);
  --space-6: calc(var(--spacing) * 4);
  --space-7: calc(var(--spacing) * 6);
  --space-8: calc(var(--spacing) * 8);
  --space-9: calc(var(--spacing) * 10);
  --space-10: calc(var(--spacing) * 12);

  --rounded-sm: var(--space-1);
  --rounded: var(--space-2);
  --rounded-lg: var(--space-4);
  --rounded-xl: var(--space-6);
}

* {
  box-sizing: border-box;
}

a {
  color: currentColor;
}

a:hover {
  color: var(--color-action-800);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
}

body,
input,
textarea,
input,
dialog,
:popover-open {
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: var(--text-base);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
}

input {
  color: var(--color-text-default);
  border: 1px solid var(--color-border);
  padding: 6px var(--space-4);
  background: var(--color-bg-input);
  border-radius: var(--rounded);
  /* outline: none; */
  transition: all 0.2s ease;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-border-muted);
  margin: var(--space-3) 0;
}

kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
  padding: var(--space-2) var(--space-4);
  background: var(--color-bg-container);
  border: 1px solid var(--color-border-default);
  border-bottom-width: 2px;
  border-radius: var(--rounded);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

legend {
  font-size: var(--text-sm);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-right: var(--space-4);
  color: var(--color-text-muted);
}

fieldset + fieldset {
  border-top: 1px solid var(--color-border-default);
  padding-top: var(--space-6);
}

body {
  background: var(--color-bg-page);
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  padding-bottom: env(safe-area-inset-bottom);
}

.page {
  width: 100%;
  max-width: 900px;
  padding: 0 12px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-base);
}

h6 {
  font-size: var(--text-sm);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

input.error {
  border-color: var(--color-error);
}

.error-text {
  color: var(--color-error);
}
