@import url(./reset.css);
@import url(./theme.css);

:root {
  /* --font-sans: 'iA Writer Quattro', 'iA Writer Quattro S', system-ui, sans-serif; */
  --font-sans: ui-sans-serif, system-ui, 'Roboto', sans-serif;
  --font-mono: 'iA Writer Mono', monospace;

  /* Font size */
  --text-scale: 1.125;
  --text-base: 14px;
}

* {
  box-sizing: border-box;
}

a {
  color: currentColor;
}

a:hover {
  color: var(--color-action-800);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  /* overscroll-behavior: contain; */
  user-select: none;
}

body,
input,
textarea,
input {
  color: var(--color-text-default);
  font-family: var(--font-sans);
  font-size: var(--text-base);

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* font-smooth: always; */
  line-height: 1.3;
}

input {
  color: var(--color-text-default);
  border: 1px solid var(--color-border);
  padding: 6px var(--space-4);
  background: var(--color-bg-input);
  border-radius: var(--rounded);
  /* outline: none; */
  transition: all 0.2s ease;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

body {
  background: var(--color-bg-page);
  color: var(--color-text-default);
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  padding-bottom: env(safe-area-inset-bottom);
}

.page {
  width: 100%;
  max-width: 900px;
  padding: 0 12px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-base);
}

h6 {
  font-size: var(--text-sm);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}

input.error {
  border-color: var(--color-error);
}

.error-text {
  color: var(--color-error);
}
