thread-view {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 50px;
}

thread-view .idle-screen,
thread-view .message-container:last-child {
  height: 100%;
}

thread-view .idle-screen {
  height: 105%;
}

thread-view .message-container {
  padding: var(--space-4);
  border-radius: var(--rounded-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  max-width: 72ch;
  margin: 0 auto;
  margin-top: var(--space-5);
  border: 1px solid transparent;
}

thread-view .message-container:hover {
  border-color: var(--color-border-muted);
}

thread-view .message-container:last-child:hover {
  border-color: transparent;
}

thread-view .archived-message {
  padding: var(--space-2) var(--space-5);
  margin-top: var(--space-8);
  background: var(--color-bg-chrome);
  border-radius: 16px;
  align-self: center;
  color: var(--color-text-muted);
  font-size: var(--text-sm);
}

thread-view .message {
  user-select: text;
}
thread-view .message:first-child {
  margin-top: 0;
}

thread-view .loading {
  position: relative;
  left: var(--space-5);
}

thread-view .message[data-type='input'] {
  padding: 0 var(--space-5);
  align-self: flex-start;
  font-weight: 500;
}

thread-view .message[data-type='response'] {
  padding: var(--space-5) var(--space-5);
  min-height: 36px;
  border-radius: var(--rounded-lg);
  background: var(--color-bg-content);
}

thread-view .message[data-type='action'] {
  padding: var(--space-3) var(--space-5);
  display: flex;
  align-items: center;
  gap: var(--space-2);
  border: 1px solid var(--color-border-muted);
  border-radius: var(--rounded-lg);
}
thread-view .message[data-type='action'] .resource-icon {
  width: 14px;
  height: 14px;
}
thread-view .message[data-type='action'] .notification-text {
  color: var(--color-text-muted);
  font-size: 13px;
}
