/* Main layout */

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Contents */

.contents {
  overflow: hidden;
  background: var(--color-page-alt);
  flex-grow: 1;
}

.hide-unless-active:not([active]) {
  display: none;
}
