/* Main layout */

app-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

app-root .stack {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-root .workspace-content {
  position: relative;
  flex-grow: 1;
  background: var(--color-bg-page);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
