/* Main layout */

app-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
}

app-root .workspace-content {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.toolbar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-muted);
  padding-bottom: var(--space-2);
  height: 44px;
}

.toolbar resource-bar {
  align-self: stretch;
}
