app-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
}

.workspace-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  min-height: 0;
  padding: var(--space-4);
  padding-bottom: 0;
  gap: var(--space-4);
}
